<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="{{url_for('static', path='/css/style.css')}}">
</head>

<body>

   <div class="eee">
      <form id="formData">
         <label for="email">Email:</label>
         <input type="email" id="email" name="email" required>
         <label for="email" id="emailError" class="error-text"></label>

         <br>
      
         <label for="password">Password:</label>
         <input type="password" id="password" name="password" required>
         <label for="password" id="passwordError" class="error-text"></label>
         
         <br>
      
         <input type="submit" value="Submit" class="button-style">
      </form>
   </div>

   <script src="{{ url_for('static', path='/js/script.js') }}"></script>
</body>

</html>