<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="{{url_for('static', path='/css/style.css')}}">
</head>
<body>

   <div class="headers">
      <ul>
         <li>Request URL: {{ url }}</li>
         <li>Language: {{ language }}</li>
         <li>OS: {{ os }}</li>
         <li>Browser: {{ browser }}</li>
         <li>Device: {{ device }}</li>
      </ul>
   </div>

   <a href="form" class="button-style" id="link-to-form">Give me all your data for free</a>

   <script src="{{ url_for('static', path='/js/script.js') }}"></script>
</body>
</html>